body {
  margin: auto;
}

.header
{
    padding: 10px;
    font-size: 26px;
}

.page
{
    margin: 0 auto;
    width: 1200px;
    padding: 20px;
    background: #f3f3f3;
}

.side-left
{
    float:left;
    display: inline-block;
    padding: 10px;
    width: 277px;
    min-height: 500px;
}

.map-background {
  fill: none;
  pointer-events: all;
}

.content
{
    /*border: 1px solid #000;*/
    background: #f3f3f3;
    border: 1px solid #ccc;
}

.main-content
{
    margin: 0;
    display: inline-block;
    width: auto;
    height: auto;
}

.timeline-container
{
    border-top: 1px solid #ccc;
    background: #f3f3f3;
    padding: 10px;
    margin: 0;
}

.country {
    cursor: pointer;
}

.country.active 
{
    fill: orange !important;
}
/*
#world .active {
 	
 	stroke: black;
}*/

#world path
{
 	cursor: pointer;
}

#world .hover {
 	fill: lightgrey;
/* 	stroke: white;
 	stroke-width: 0.25px;*/
}

#map {
    /*display: block;*/
    /*border: 1px solid #ccc;*/
    background: #fff;
    border-left: 1px solid #ccc;
    /*margin: auto;*/
}

svg {
	margin: 0;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}

/*.blur {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}*/