body {
  margin: auto;
}

.header
{
    padding: 10px;
    font-size: 26px;
}

.page
{
    margin: 0 auto;
    width: 1200px;
    padding: 20px;
    /*background: #f3f3f3;*/
}

.side-left
{
    float:left;
    display: inline-block;
    padding: 10px;
    width: 275px;
    min-height: 500px;
}

.map-background 
{
  fill: none;
  pointer-events: all;
}

.content
{
    border: 1px solid #ccc;
    background: #f1f1f1;
    /*border: 1px solid #ccc;*/
}

.main-content
{
    margin: 0;
    display: inline-block;
    width: auto;
    height: auto;
}

.timeline-container
{
    border-top: 3px solid #ccc;
    background: #f1f1f1;
    padding: 10px;
    margin: 0;
}

path.domain
{
    stroke: #aaa;
}

.country {
    cursor: pointer;
}

.country.active 
{
    fill: orange !important;
}

.date
{
    stroke: white;
    stroke-width: 1px;
    cursor: pointer;
}

.date:hover
{
    fill-opacity: .7;
}

.date.active
{
    stroke: black;
    stroke-width: 2px;
}

.date.nodata
{
    fill: #ccc;
}

/* timeline scale */

.axis line {
  fill: none;
  stroke: green;
  stroke-width: 1.6px;
}

.axis .label {
  font-size: 8pt;
}

.axis .minor {
  stroke: red;
  stroke-width: 0.4px;
}

.axis text {
  font: 12px sans-serif;
}
 
.axis path {
  fill: none;
  stroke: #aaa;
  stroke-width: 2.5px;
  shape-rendering: crispEdges;
}


.legend  text {
  font: 12px sans-serif;
}
/*
#world .active {
 	
 	stroke: black;
}*/

#world path
{
 	cursor: pointer;
}

#map path:hover {
  fill-opacity: .7;
 	/*fill: lightgrey;*/
/* 	stroke: white;
 	stroke-width: 0.25px;*/
}

#map {
    /*display: block;*/
    /*border: 1px solid #ccc;*/
    border-left: 3px solid #ccc;
    /*margin: auto;*/
}

.chart-line {
    fill: none;
    stroke-width: 1px;
}

svg {
	margin: 0;
}

path {
  stroke: white;
/*  stroke-width: 0.25px;*/
  fill: grey;
}

.arc text
{
    fill: #fff;
}

/*.blur {
  -webkit-filter: blur(6px);
  filter: blur(6px);
}*/